<div class="sidebar-my-account">
  <div class="favorite-apartments-container">
    <h1 class="sub-title">Lista cu apartamentele tale favorite:</h1>
    <app-spinner *ngIf="this.loading"></app-spinner>

    <div class="favorite-apartments-list">
      <div
        class="apartment-card"
        *ngFor="let apartment of apartmentsList"
        [routerLink]="['../apartments-rent/detail/' + apartment.id]"
      >
        <app-apartment-card [apartment]="apartment"></app-apartment-card>
      </div>
    </div>
  </div>
</div>
