<div *ngIf="apartmentsPageModel" class="number-of-apartments">
  {{ apartmentsPageModel.totalNumberOfRecords }} Rezultate
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>
<div *ngIf="!showSpinner" class="apartments-list-container">
  <div
    class="image-no-result"
    *ngIf="apartmentsPageModel && apartmentsPageModel.totalNumberOfRecords == 0"
  >
    <img src="../../../assets/images/NoResult.svg" alt="No Result" />
    <div class="no-results-text">Niciun anunț găsit</div>
  </div>
  <div
    class="apartment-card"
    *ngFor="let apartment of apartmentsList"
    [routerLink]="['./detail/' + apartment.id]"
  >
    <app-apartment-card [apartment]="apartment"></app-apartment-card>
  </div>
</div>
<div class="pagination-controls-container">
  <app-pagination
    *ngIf="apartmentsPageModel"
    [filterModel]="this.filterModel"
    [totalNumberOfRecords]="this.apartmentsPageModel.totalNumberOfRecords"
    (pageIndexEmit)="this.pageIndexChanged = $event"
    (pageEmit)="this.pageChanged = $event"
  ></app-pagination>
</div>
