<div class="home-container">
  <img class="first-image" src="../../assets/images/home_image.png" />
  <div class="text-marketing">

    <!-- <h2><span>𝗜𝗠𝗢𝗕𝗞𝗘𝗬</span></h2> -->
    <img src="../../../assets/images/logo-apartments.png" id="logo" alt="Logo" />
    <h3><span>𝗜𝗠𝗢𝗕𝗞𝗘𝗬</span> reprezintă 𝗰𝗵𝗲𝗶𝗮 𝗰𝗲𝗿𝗶𝗻𝘁𝗲𝗹𝗼𝗿 𝘁𝗮𝗹𝗲!</h3>
    <h4>Echipa <span>𝗜𝗠𝗢𝗕𝗞𝗘𝗬</span> este aici pentru dumneavoastră! Cu forțe proaspete, multă ambiție, experiență dar și voie bună!</h4>
    <h4>Va invitam sa cautati anunturi de inchirieri in sectiunea <a [routerLink]="['/apartments-rent']"
      [routerLinkActive]="['active-link']"><span>Inchirieri</span></a>.</h4>
    <!-- <h4>Daca va ganditi la o investitie pe termen lung va invitam sa cautati 
      Casa Perfecta pentru dumneavoastră in sectiunea Vanzari.</h4> -->
    <h4>Daca aveti un apartament sau o casa pe care doriti sa o inchiriati sau o sa vindeti echipa Imobkey este la dispozitia dumneavoastra.
      Puteti sa contactati un agent la numarul <b>0757 683 208</b> sau sa adaugati anuntul in sectiunea <a [routerLink]="['/add-apartment']"
      [routerLinkActive]="['active-link']"><span>Adauga Anunt</span></a>.

    </h4>
  </div>
</div>

