@import "../../style/main.scss";

.footer-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #536890;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fafafa;
}

.social-icon {
    max-width: 50px;
    padding-top: 10px;
} 

@include for-phone-only {
    footer{
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer-column {
        padding-top: 15px;
    }
}

h6 {
    margin-left: 8px;
}