<footer class="footer-container">
    <div class="footer-column">
        <h4><span>Ajutor si informatii</span></h4>
        <h6>Compania IMOBKEY este aici pentru dumneavoastră!<br> Cu forțe proaspete, multă ambiție, experiență dar și voie bună!</h6>
        <h6>Adresa: 
            JUD. IAȘI, SAT VIȘAN COM. BÂRNOVA, <br>STR. SF. NICOLAE, NR.7</h6>
    </div>
    <div class="footer-column">
        <h4><span>Contact</span></h4>
        <h6>Ne puteti contacta la numerele:</h6>
            <h6><b>0757 109 698</b></h6>
            <h6><b>0745 657 799</b></h6>
            <h6><b>0757 683 208</b></h6>
    </div>
    <div class="footer-column">
        <h4><span>Pagini de contact:</span></h4>

        <div><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/agentiaImobkey"><img class="social-icon" src="https://www.flaticon.com/svg/static/icons/svg/1384/1384053.svg"></a> </div>

        <div><a target="_blank" rel="noopener noreferrer" href="https://instagram.com/agentiaimobkey?igshid=1eiv4nqp0sn9o"><img class="social-icon"  src="https://www.flaticon.com/svg/static/icons/svg/174/174855.svg"></a> </div>
    </div>
</footer>