$header-height-desktop: 64px;
$header-height-mobile: 34px;
$page-subheader-height-desktop: 116px;
$page-subheader-height-mobile: 56px;
$tabel-footer-height: 48px;
$tabel-cell-height: 40px;
$tabel-header-height: 48px;
$buttons-group-height: 120px;
