@import "../../../style/main.scss";

agm-map {
  height: 690px;
  width: 1000px;
  max-width: 100%;
}
.gm-style .gm-style-iw-c {
  max-width: 400px;
}
.details-button {
  background: #557a95 0% 0% no-repeat padding-box;
  border-radius: 25px;
  height: 40px;
  width: 120px;
  color: white;
  opacity: 1;
  font-size: 16px;
  display: block;
  padding-top: -40px;
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.details-button:hover {
  color: rgb(255, 72, 0);
}
@include until-tablet {
  agm-map {
    height: 290px;
    width: 200px;
    max-width: 100%;
  }
}

@include for-phone-only {
  agm-map {
    height: 390px;
    width: 300px;
    max-width: 100%;
  }
}
